In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

name = pd.read_csv('name_basics.csv')
akas = pd.read_csv('title_akas.csv')
title = pd.read_csv('title_basics.csv')
crew = pd.read_csv('title_crew.csv')
episode = pd.read_csv('title_episode.csv')
principle = pd.read_csv('title_principle.csv')
ratings = pd.read_csv('title_ratings.csv')

In [2]:
principle = pd.read_csv('title_principle.csv')
title = pd.read_csv('title_basics.csv')
name = pd.read_csv('name_basics.csv')
links = pd.read_csv('links.csv')
ratings = pd.read_csv('title_ratings.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Drop unnecessary columns
principle=principle.drop('job',axis=1)
name=name.drop('knownForTitles',axis=1)

In [4]:
#Convert tconst into numeric
title.tconst = title.tconst.str.replace('tt','')
title.tconst = pd.to_numeric(title['tconst'], errors='coerce')

In [5]:
#Convert tconst into numeric
ratings.tconst = ratings.tconst.str.replace('tt','')
ratings.tconst = pd.to_numeric(ratings['tconst'], errors='coerce')

In [6]:
#convert tconst into numeric
principle.tconst = principle.tconst.str.replace('tt','')
principle.tconst = pd.to_numeric(principle['tconst'], errors='coerce')
#principle[principle.tconst == 114709]

In [7]:
#Filter the data from movie lens dataset in IMDB
filter_titles=title.loc[title['tconst'].isin(links.imdbId)]
#filter_titles=pd.merge(filter_titles,title)

In [8]:
#Filter the cast names associated to each movie and the principle cast names from IMDB and merge the filtered lists
filter_cast_titles=principle.loc[principle['tconst'].isin(filter_titles.tconst)]
filter_cast_titles=pd.merge(filter_cast_titles,filter_titles)

In [32]:
filter_titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
414,417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,"Adventure,Fantasy,Sci-Fi"
4912,4972,movie,The Birth of a Nation,The Birth of a Nation,0,1915,\N,195,"Drama,History,War"
6258,6333,movie,"20,000 Leagues Under the Sea","20,000 Leagues Under the Sea",0,1916,\N,105,"Action,Adventure,Sci-Fi"
6781,6864,movie,Intolerance: Love's Struggle Throughout the Ages,Intolerance: Love's Struggle Throughout the Ages,0,1916,\N,163,"Drama,History"
8026,8133,short,The Immigrant,The Immigrant,0,1917,\N,30,"Comedy,Drama,Romance"

In [9]:
#Filter the cast from the IMDB dataset and merge the data to form an aggregated dataset
filter_cast_titles_name=name.loc[name['nconst'].isin(filter_cast_titles.nconst)]
merge_cast_title_name=pd.merge(filter_cast_titles_name,filter_cast_titles)

In [10]:
#merge the ratings and aggregated list
merge_cast_title_name_ranks=pd.merge(merge_cast_title_name,ratings)
merge_cast_title_name_ranks.primaryName=merge_cast_title_name_ranks.primaryName.str.lower()

In [55]:
merge_cast_title_name_ranks.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,tconst,ordering,category,characters,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous",25164,1,actor,"[""Guy Holden""]",movie,The Gay Divorcee,The Gay Divorcee,0,1934,\N,107,"Comedy,Musical,Romance",7.6,5847
1,nm0001677,Ginger Rogers,1911,1995,"actress,soundtrack",25164,2,actress,"[""Mimi Glossop""]",movie,The Gay Divorcee,The Gay Divorcee,0,1934,\N,107,"Comedy,Musical,Romance",7.6,5847
2,nm0002143,Edward Everett Horton,1886,1970,"actor,soundtrack,director",25164,4,actor,"[""Egbert 'Pinky' Fitzgerald""]",movie,The Gay Divorcee,The Gay Divorcee,0,1934,\N,107,"Comedy,Musical,Romance",7.6,5847
3,nm0103567,Alice Brady,1892,1939,"actress,soundtrack",25164,3,actress,"[""Aunt Hortense""]",movie,The Gay Divorcee,The Gay Divorcee,0,1934,\N,107,"Comedy,Musical,Romance",7.6,5847
4,nm0388755,Samuel Hoffenstein,1890,1947,writer,25164,8,writer,\N,movie,The Gay Divorcee,The Gay Divorcee,0,1934,\N,107,"Comedy,Musical,Romance",7.6,5847

In [12]:
#Suggest top rated movies or popular movies related each cast depending on user inputs
a = input('enter your favourite cast name')
b = input('enter 1 if toprated or 2 if popular:')
a=a.lower()
b=int(b)
if b ==1:
    reco=merge_cast_title_name_ranks[merge_cast_title_name_ranks.primaryName.str.contains(a)]
    output=reco.nlargest(10,'averageRating')
    df=output[['primaryTitle','numVotes','averageRating','numVotes']]
    print (df.to_string(index=False))
elif b ==2:
    reco=merge_cast_title_name_ranks[merge_cast_title_name_ranks.primaryName.str.contains(a)]
    output=reco.nlargest(10,'numVotes')
    df=output[['primaryTitle','numVotes','averageRating','numVotes']]
    print (df.to_string(index=False))

enter your favourite cast nameTom Hanks
enter 1 if toprated or 2 if popular:2
primaryTitle  numVotes  averageRating  numVotes
       Forrest Gump   1480633            8.8   1480633
Saving Private Ryan   1028336            8.6   1028336
     The Green Mile    929737            8.5    929737
          Toy Story    732770            8.3    732770
Catch Me If You Can    654458            8.1    654458
        Toy Story 3    634927            8.3    634927
          Cast Away    446123            7.8    446123
        Toy Story 2    436599            7.9    436599
   Captain Phillips    367200            7.8    367200
  The Da Vinci Code    355093            6.6    355093

In [13]:
#Merge the ratings and titles tables so that ratings and titles are present at one place
filter_titles_ratings=pd.merge(ratings,filter_titles)
#filter_titles_ratings.startYear=filter_titles_ratings.startYear.isnull().value_counts()

In [16]:
#Suggest top 10 popular movies based on the year
a = input('enter the year in which you are interested to know about')
reco=filter_titles_ratings[filter_titles_ratings.startYear.str.strip() == a]
output=reco.nlargest(10,'numVotes')
df=output[['primaryTitle','numVotes','averageRating','numVotes']]
print (df.to_string(index=False))

enter the year in which you are interested to know about2016
primaryTitle  numVotes  averageRating  numVotes
                          Deadpool    722905            8.0    722905
Batman v Superman: Dawn of Justice    532017            6.6    532017
        Captain America: Civil War    497113            7.8    497113
                   Stranger Things    480355            8.9    480355
                     Suicide Squad    476732            6.1    476732
                          Zootopia    343853            8.0    343853
                 X-Men: Apocalypse    318266            7.0    318266
               10 Cloverfield Lane    235852            7.2    235852
                   The Jungle Book    224498            7.4    224498
                     The Nice Guys    213845            7.4    213845